<template>
    <div :class="$style.component">
        <h1>
            {{ text }}
        </h1>
    </div>
</template>

<script>
export default {
    name: 'Title',
    props: {
        text: {
            required: true,
            type: String,
        },
    }
};
</script>

<style lang="scss" module>
.component {
    h1 {
        font-size: 1.7rem;
    }
}
</style>
