<template>
    <div :class="[$style.component, 'container-fluid']">
        <div class="row">
            <aside class="col-xs-12 col-lg-3">
                <cart-sidebar
                    v-if="featuredProduct"
                    :add-to-cart-loading="addToCartLoading"
                    :add-to-cart-success="addToCartSuccess"
                    :allow-add-to-cart="cart !== null"
                    :featured-product="featuredProduct"
                    @add-to-cart="addProductToCart(
                        featuredProduct,
                        $event.selectedColorId,
                        $event.quantity
                    )"
                />
            </aside>
            <div class="col-xs-12 col-lg-9">
                <transition
                    name="fade"
                    mode="out-in"
                >
                    <title-component
                        :key="currentState"
                        :text="pageTitle"
                    />
                </transition>
                <div class="content p-3">
                    <loading v-show="completeCart === null" />
                    <transition
                        name="fade"
                        mode="out-in"
                    >
                        <shopping-cart-list
                            v-if="completeCart && currentState === 'cart'"
                            :items="completeCart.items"
                            @update-quantity="updateQuantity"
                            @remove-from-cart="removeProductFromCart(
                                $event.productId,
                                $event.colorId
                            )"
                        />
                        <checkout-form
                            v-if="completeCart && currentState === 'checkout'"
                            :cart="cart"
                        />
                    </transition>
                    <div v-if="completeCart && completeCart.items.length > 0">
                        <button
                            class="btn btn-primary"
                            @click="switchState"
                        >
                            {{ buttonText }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TitleComponent from '@/components/title';
import ShoppingCartMixin from '@/mixins/get-shopping-cart';
import Loading from '@/components/loading';
import ShoppingCartList from '@/components/shopping-cart';
import {fetchFeaturedProducts, fetchProductsById} from '@/services/products-service';
import {fetchColors} from '@/services/colors-service';
import CartSidebar from '@/components/shopping-cart/cart-sidebar';
import CheckoutForm from '@/components/checkout';

export default {
    name: 'ShoppingCart',
    components: {
        CartSidebar,
        CheckoutForm,
        Loading,
        ShoppingCartList,
        TitleComponent,
    },
    mixins: [ShoppingCartMixin],
    data() {
        return {
            colors: null,
            currentState: 'cart',
            featuredProduct: null,
            products: null,
        };
    },
    computed: {
        buttonText() {
            return this.currentState === 'cart' ? 'Check Out >>' : '<< Back';
        },
        completeCart() {
            if (!this.cart || !this.products || !this.colors) {
                return null;
            }
            const completeItems = this.cart.items.map((cartItem) => {
                const color = this.colors.find((colorItem) => colorItem['@id'] === cartItem.color);
                const product = this.products.find((productItem) => productItem['@id'] === cartItem.product);
                return {
                    id: `${cartItem.product}_${cartItem.color ? cartItem.color : 'none'}`,
                    color,
                    product,
                    quantity: cartItem.quantity,
                };
            });
            return {
                // filter out missing products: they may still be loading
                items: completeItems.filter((item) => item.product),
            };
        },
        pageTitle() {
            return this.currentState === 'cart' ? 'Shopping Cart' : 'Checkout';
        },
    },
    watch: {
        'cart.items.length': function watchCartItemLength() {
            this.loadProducts();
        },
    },
    async created() {
        this.loadFeaturedProducts();
        this.colors = (await fetchColors()).data['hydra:member'];
    },
    methods: {
        async loadFeaturedProducts() {
            const featuredProducts = (await fetchFeaturedProducts()).data['hydra:member'];
            if (featuredProducts.length === 0) {
                return;
            }
            [this.featuredProduct] = featuredProducts;
        },
        async loadProducts() {
            const productIds = this.cart.items.map((item) => item.product);
            const productsResponse = await fetchProductsById(productIds);
            this.products = productsResponse.data['hydra:member'];
        },
        switchState() {
            this.currentState = this.currentState === 'cart' ? 'checkout' : 'cart';
        },
        updateQuantity({ productId, colorId, quantity }) {
            this.updateProductQuantity(productId, colorId, quantity);
        },
    },
};
</script>

<style lang="scss" module>
@import '~styles/components/light-component.scss';

.component :global {
  .content {
    @include light-component;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
</style>
