<template>
    <div :class="[$style.component,'d-flex','align-items-center','justify-content-center']">
        <color-selector
            v-if="product.colors.length !== 0"
            @color-selected="updateSelectedColor"
        />
        <input
            v-model.number="quantity"
            class="form-control mx-3"
            min="1"
            type="number"
        >
        <button
            :disabled="!allowAddToCart"
            class="btn btn-info btn-sm"
            @click="addToCart"
        >
            {{ addButtonText }}
            <i
                v-show="addToCartLoading"
                class="fas fa-spinner fa-spin"
            />
            <i
                v-show="addToCartSuccess"
                class="fas fa-check"
            />
        </button>
    </div>
</template>

<script>
import ColorSelector from '@/components/color-selector';

export default {
    name: 'ProductCartAddControls',
    components: {
        ColorSelector,
    },
    props: {
        addButtonText: {
            default: 'Add to Cart',
            type: String,
        },
        addToCartLoading: {
            required: true,
            type: Boolean,
        },
        addToCartSuccess: {
            required: true,
            type: Boolean,
        },
        allowAddToCart: {
            required: true,
            type: Boolean,
        },
        product: {
            required: true,
            type: Object,
        },
    },
    data() {
        return {
            quantity: 1,
            selectedColorId: null,
        };
    },
    methods: {
        addToCart() {
            this.$emit('add-to-cart', {
                quantity: this.quantity,
                selectedColorId: this.selectedColorId,
            });
        },
        updateSelectedColor(iri) {
            this.selectedColorId = iri;
        },
    },
};
</script>

<style lang="scss" module>
.component :global {
  input {
    width: 60px;
  }
}
</style>
